# NATTEN dependencies
torch

# Packaging and release
packaging
twine

# Formatting / lint
ufmt==2.3.0
flake8==7.0.0
mypy==1.8.0

# Testing
pytest==7.4.4

# Docs
mkdocs==1.6.1
mkdocs-material==9.6.14
mkdocstrings-python==1.16.11
mkdocs-glightbox==0.4.0
markdown-grid-tables==0.4.0
pymdown-extensions==10.15
Pygments==2.19.1
ruff==0.11.12

# Optional: Pretty-printing stuff
rich==14.0.0
tqdm==4.67.1

# Optional: if OS doesn't have cmake
# cmake==3.20.3
